<launch>
    <!-- Parameter -->
    <arg name="map_name" default="map1" doc="[map1, map2, map3]"/>
    <arg name="world" default="map_dyn" doc="[map, map_dyn]"/>
    
    <!-- Teleop -->
    <!-- you should modify and use teleop.py for your purpose -->
    <!-- <node name="teleop" pkg="mobile_planning_test_env" type="teleop.py" output="screen"/> -->

    <!-- Gazebo World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find mobile_planning_test_env)/simulation_setup/worlds/$(arg map_name)/$(arg world).world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="false"/>
    </include>


</launch>